<html>
<head>
<title>Login</title>
</head>
<body>
<form action="/registerUser" method="POST">
Email Id     :<input type="text" name="emailId"/><br/>
Password     :<input type="password" name="password"/><br/>
Phone Number :<input type="text" name="phoneNumber"/><br/>
Category     :<input type="text" name="category"/><br/>
<div name="eventArray">
Event Category	      :<input type="text" name="eventType"/>
Event Category	      :<input type="text" name="eventType"/>
Event Category	      :<input type="text" name="eventType"/>
Event Category	      :<input type="text" name="eventType"/>
Event Category	      :<input type="text" name="eventType"/>
Event Category	      :<input type="text" name="eventType"/>
</div>
<input type="submit" value="Register"/>
</form>
</body>
</html>